In [6]:
#Importando las librerias necesarias para el analisis de GEIH
import pandas as pd
import numpy as np

In [11]:
#Leyendo los datos de la geihs
df_cgsse = pd.read_csv("https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/refs/heads/main/Datos/GEIH2024/CGSSE.CSV"
                       ,encoding="latin", sep=';')
df_cgsse

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
0,20240730,7,2024,7858603,1,1,1,10,NaN,2,...,2.0,NaN,4.0,1.0,NaN,NaN,NaN,2.0,1.0,1.0
1,20240730,7,2024,7858603,1,2,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
2,20240730,7,2024,7858603,1,3,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
3,20240730,7,2024,7858604,1,1,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
4,20240730,7,2024,7858604,1,2,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69689,20240730,7,2024,7889227,1,1,1,10,88.0,1,...,2.0,NaN,8.0,4.0,714.0,5.0,714.0,2.0,1.0,1.0
69690,20240730,7,2024,7889227,1,2,1,10,88.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
69691,20240730,7,2024,7889227,1,3,1,10,88.0,1,...,2.0,NaN,10.0,5.0,521.0,2.0,NaN,1.0,2.0,1.0
69692,20240730,7,2024,7889227,1,4,1,10,88.0,1,...,2.0,NaN,8.0,1.0,413.0,2.0,NaN,2.0,1.0,1.0
69693,20240730,7,2024,7889227,1,5,1,10,88.0,1,...,1.0,1.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_no_ocupados = pd.read_csv("https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/refs/heads/main/Datos/GEIH2024/No%20ocupados.CSV"
                             ,encoding="latin", sep=';')
df_no_ocupados

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P9460,P1519,P1883,P7422,P7422S1,OFICIO1_C8,OFICIO2_C8,RAMA2D_D_R4,RAMA4D_D_R4,P7440
0,20240730,7,2024,7858603,1,2,1,70,NaN,2,...,2.0,2,NaN,1,400000.0,.,9111,97.0,9700,NaN
1,20240730,7,2024,7858605,1,2,1,70,NaN,2,...,NaN,2,NaN,2,NaN,4224,NaN,NaN,NaN,NaN
2,20240730,7,2024,7858606,1,3,1,70,NaN,2,...,NaN,2,NaN,2,NaN,.,.,NaN,.,NaN
3,20240730,7,2024,7858607,1,2,1,70,NaN,2,...,2.0,2,NaN,2,NaN,.,9111,97.0,9700,NaN
4,20240730,7,2024,7858607,1,3,1,70,NaN,2,...,NaN,2,NaN,2,NaN,.,.,NaN,.,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25104,20240727,7,2024,7889223,1,4,1,70,76.0,1,...,2.0,2,NaN,2,NaN,.,8156,15.0,1522,NaN
25105,20240728,7,2024,7889224,1,2,1,70,76.0,1,...,2.0,2,NaN,1,98.0,.,9333,47.0,4752,NaN
25106,20240728,7,2024,7889224,1,3,1,70,76.0,1,...,2.0,2,NaN,2,NaN,5120,5120,96.0,9609,NaN
25107,20240729,7,2024,7889226,1,2,1,70,88.0,1,...,2.0,2,NaN,2,NaN,.,5223,46.0,4632,NaN
25108,20240730,7,2024,7889227,1,2,1,70,88.0,1,...,2.0,2,NaN,2,NaN,.,4120,85.0,8553,NaN

In [14]:
df_ocupados = pd.read_csv ("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Ocupados.CSV"
                           , encoding="latin", sep=';')
df_ocupados

/tmp/ipykernel_20157/1502321250.py:1: DtypeWarning: Columns (28,89,135,150,161) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ocupados = pd.read_csv ("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Ocupados.CSV"

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P514,P515,P1881,P1882,P7240,OCI,INGLABO,RAMA2D_R4,RAMA4D_R4,OFICIO_C8
0,20240730,7,2024,7858603,1,1,1,60,NaN,2,...,1,1,13,50.0,3,1,480000.0,1,161,9211
1,20240730,7,2024,7858603,1,3,1,60,NaN,2,...,2,1,12,15.0,3,1,640000.0,47,4711,5221
2,20240730,7,2024,7858604,1,1,1,60,NaN,2,...,2,2,3,10.0,8,1,400000.0,47,4781,9520
3,20240730,7,2024,7858604,1,2,1,60,NaN,2,...,1,1,3,20.0,5,1,600000.0,3,312,6222
4,20240730,7,2024,7858605,1,1,1,60,NaN,2,...,1,1,12,25.0,3,1,700000.0,1,161,9211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29924,20240728,7,2024,7889224,1,1,1,60,76.0,1,...,1,1,5,90.0,8,1,1050000.0,97,9700,9111
29925,20240729,7,2024,7889226,1,1,1,60,88.0,1,...,1,1,10,15.0,8,1,3000000.0,77,7729,5249
29926,20240730,7,2024,7889227,1,1,1,60,88.0,1,...,1,1,11,10.0,3,1,1750000.0,61,6110,7422
29927,20240730,7,2024,7889227,1,3,1,60,88.0,1,...,1,1,11,10.0,3,1,2000000.0,55,5511,1411
29928,20240730,7,2024,7889227,1,4,1,60,88.0,1,...,1,1,11,10.0,3,1,1600000.0,55,5511,4224

In [15]:
df_fuerza_trabajo = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Fuerza%20de%20trabajo.CSV"
                                ,encoding="latin", sep=';')
df_fuerza_trabajo

/tmp/ipykernel_20157/4004692546.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_fuerza_trabajo = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Fuerza%20de%20trabajo.CSV"

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P3362S8,P3362S7A1,P6300,P6310,P6310S1,P6320,P6330,P6340,P6350,P6351
0,20240730,7,2024,7858603,1,1,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20240730,7,2024,7858603,1,2,1,50,NaN,2,...,NaN,NaN,1.0,3.0,NaN,1.0,2.0,NaN,NaN,NaN
2,20240730,7,2024,7858603,1,3,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20240730,7,2024,7858604,1,1,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20240730,7,2024,7858604,1,2,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55033,20240729,7,2024,7889226,1,2,1,50,88.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55034,20240730,7,2024,7889227,1,1,1,50,88.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55035,20240730,7,2024,7889227,1,2,1,50,88.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55036,20240730,7,2024,7889227,1,3,1,50,88.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55037,20240730,7,2024,7889227,1,4,1,50,88.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN