In [1]:
import pandas as pd
import numpy as np

In [2]:
#IMPORTAR BASE DE DATOS
df_emicron = pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/EMICRON/emicron_identificacion.csv', encoding="latin", sep=',')
df_emicron.head()

,DIRECTORIO,SECUENCIA_P,SECUENCIA_ENCUESTA,COD_DEPTO,AREA,CLASE_TE,P35,P241,MES_REF,P3031,P3032_1,P3032_2,P3032_3,P3033,P3034,P3035,P3000,GRUPOS4,GRUPOS12,F_EXP
0,7627444,1,1,44,NaN,2,2,33,ENERO,2,NaN,NaN,NaN,2,240,2,2,2,3,60.050515
1,7627446,1,1,44,NaN,2,1,31,ENERO,2,NaN,NaN,NaN,2,166,2,2,1,1,86.341075
2,7627449,1,1,68,NaN,1,2,42,ENERO,2,NaN,NaN,NaN,2,60,2,2,3,5,139.884518
3,7627453,1,2,68,NaN,1,2,41,ENERO,2,NaN,NaN,NaN,2,60,2,2,4,7,168.635440
4,7627456,1,3,68,NaN,1,1,18,ENERO,2,NaN,NaN,NaN,2,9,2,2,4,6,64.659273

1. ¿Cuantos micronegocios hay en el Quindio, cuyos propietarios son hombres entre los 18 y 30 años?

In [3]:
#Determinar la cantidad de micronegocios en Colombia
total = df_emicron["F_EXP"].sum()
print("Cantidad de micronegocios en Colombia:", int(total))

Cantidad de micronegocios en Colombia: 5297251

In [4]:
#Buscar si estan las variables que necesitamos
df_emicron.columns

Index(['DIRECTORIO', 'SECUENCIA_P', 'SECUENCIA_ENCUESTA', 'COD_DEPTO', 'AREA',
       'CLASE_TE', 'P35', 'P241', 'MES_REF', 'P3031', 'P3032_1', 'P3032_2',
       'P3032_3', 'P3033', 'P3034', 'P3035', 'P3000', 'GRUPOS4', 'GRUPOS12',
       'F_EXP'],
      dtype='object')

Para dar solución a esta pregunta, indagamos en el DANE el codigo de nuestras variables, los cuales son "COD_DEPTO", "P35" Y "P241" 
https://microdatos.dane.gov.co/index.php/catalog/832/data-dictionary/F1?file_name=M%C3%B3dulo%20de%20identificaci%C3%B3n

In [5]:
#Filtramos los datos a usar
micronegocios_HQ = df_emicron[(df_emicron["COD_DEPTO"] == 63) & (df_emicron["P35"] == 1) & (df_emicron["P241"].between(18, 30))]

# Calcular el total de micronegocios en el Quindío con propietarios hombres de 18 a 30 años
total_quindio_hombres_18_30 = micronegocios_HQ["F_EXP"].sum()

print("El total de micronegocios en el departamento del Quindío de hombres entre 18 y 30 años es:", round(total_quindio_hombres_18_30))

El total de micronegocios en el departamento del Quindío de hombres entre 18 y 30 años es: 1929

2. ¿Cuantos micronegocios de la industria manufacturera existen en el departamento de risaralda, cuyas propietarias son mujeres entre los 20 y los 30 años?

Aquí tenemos que agregar la variable de industria manufacturera "GRUPOS4" el cual nos permite conocer el sector de la empresa y en "GRUPOS4 = 2" sabemos que es industria manufacturera

In [6]:
#Usamos el mismo codigo que en la pregunta anterior, pero cambiando el departamento, el género, la edad y agregando la industria manufacturera
micronegocios_Manufacturera_RM = df_emicron[(df_emicron["COD_DEPTO"] == 66) & (df_emicron["P35"] == 2) & (df_emicron["P241"].between(20, 30)) & (df_emicron["GRUPOS4"] == 2)]

#Calcular micronegocios expandidos
total_micronegocios_Manufacturera_RM = micronegocios_Manufacturera_RM["F_EXP"].sum()
print(f"El total de micronegocios de la industria manufacturera en el departamento de Risaralda, cuyas propietarias son mujeres entre los 20 y los 30 años es: {micronegocios_Manufacturera_RM['F_EXP'].sum():.0f}")

El total de micronegocios de la industria manufacturera en el departamento de Risaralda, cuyas propietarias son mujeres entre los 20 y los 30 años es: 471

3. Entre las ciudades de pereira, armenia y manizales, cual de las 3 ciudades tiene mas micronegocios del sector comercio, cuyas propietarias, son mujeres mayores a 40 años?

Para resolver este punto podemos usar los codigos de la pregunta anterior, agregando "AREA" Y cambiando "GRUPOS4 =2" por "GRUPOS4 = 3" el cual determina el sector comercio

In [11]:
#ARMENIA 
micronegocios_comercio_A40 = df_emicron[(df_emicron["AREA"] == 63) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron["GRUPOS4"] == 3)]
total_micronegocios_comercio_A40 = micronegocios_comercio_A40["F_EXP"].sum()
print(f"El total de micronegocios del sector comercio en la ciudad de Armenia, cuyas propietarias son mujeres mayores a 40 años es: {micronegocios_comercio_A40['F_EXP'].sum():.0f}")

#PEREIRA
micronegocios_comercio_P40 = df_emicron[(df_emicron["AREA"] == 66) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron["GRUPOS4"] == 3)]
total_micronegocios_comercio_P40 = micronegocios_comercio_P40["F_EXP"].sum()
print(f"El total de micronegocios del sector comercio en la ciudad de Pereira, cuyas propietarias son mujeres mayores a 40 años es: {micronegocios_comercio_P40['F_EXP'].sum():.0f}")

#MANIZALES
micronegocios_comercio_M40 = df_emicron[(df_emicron["AREA"] == 17) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron["GRUPOS4"] == 3)]
total_micronegocios_comercio_M40 = micronegocios_comercio_M40["F_EXP"].sum()
print(f"El total de micronegocios del sector comercio en la ciudad de Manizales, cuyas propietarias son mujeres mayores a 40 años es: {micronegocios_comercio_M40['F_EXP'].sum():.0f}")

El total de micronegocios del sector comercio en la ciudad de Armenia, cuyas propietarias son mujeres mayores a 40 años es: 2558
El total de micronegocios del sector comercio en la ciudad de Pereira, cuyas propietarias son mujeres mayores a 40 años es: 3827
El total de micronegocios del sector comercio en la ciudad de Manizales, cuyas propietarias son mujeres mayores a 40 años es: 2637

Teniendo en cuenta los resultados obtenidos, la ciudad que cuenta con mas micronegocios cuyas propietarias son mujeres de mas de 40 años de edad es la ciudad de Pereira

4. En la ciudad de Armenia ¿Cuantos micronegocios hay, cuyos propietarios son hombres que no tienen nombre comercial?

Podemos basarnos en el codigo de la pregunta anterior, solo que agregamos la variable de nombre comercial que en el DANE aparece como: "P3035"

In [12]:
micronegocios_AXM_snc = df_emicron[(df_emicron["AREA"] == 63) & (df_emicron["P35"] == 1) & (df_emicron["P3035"] == 2)]
total_micronegocios_AXM_snc = micronegocios_AXM_snc["F_EXP"].sum()
print(f"El total de micronegocios en la ciudad de Armenia, cuyos propietarios son hombres que no tienen nombre comercial es: {micronegocios_AXM_snc['F_EXP'].sum():.0f}")

El total de micronegocios en la ciudad de Armenia, cuyos propietarios son hombres que no tienen nombre comercial es: 11603